.btn-base {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  &:hover {
    opacity: 0.8;
  }
  &_primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    &_disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
  &_secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    &_disabled {
      opacity: 0.3 !important;
      cursor: not-allowed;
    }
  }
  &_success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    &_disabled {
      opacity: 0.3 !important;
      cursor: not-allowed;
    }
  }
  &_danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
    &_disabled {
      opacity: 0.3 !important;
      cursor: not-allowed;
    }
  }
  &_warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
    &_disabled {
      opacity: 0.3 !important;
      cursor: not-allowed;
    }
  }
  &_info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
    &_disabled {
      opacity: 0.3 !important;
      cursor: not-allowed;
    }
  }
  &_large {
    height: 40px;
    padding: 0 20px;
  }
  &_small {
    height: 30px;
    padding: 0 15px;
  }
  &_default {
    height: 35px;
    padding: 0 17px;
  }
  &_tiny {
    height: 25px;
    padding: 0 10px;
  }
}
